.logo {
  margin-top: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  & img {
    width: 40px;
    border: 1px solid gray;
    border-radius: 30px;
  }

  & h3 {
    margin-left: 10px;
  }
}
  
.menu {
  text-indent: 30px;
  display: flex;
  flex-direction: column;
}
  
.non_active {
  height: 40px;
  margin-bottom: 10px;
  line-height: 40px;
  text-decoration: none;
  color: white;
}

.non_active:hover {
  background: linear-gradient(to right, white 5%, rgb(255, 255, 255, 0.2) 5%);
  cursor: pointer;
}

.non_active:active {
  background: linear-gradient(to right, white 5%, gray 5%);
}

.active {
  height: 40px;
  margin-bottom: 10px;
  line-height: 40px;
  text-decoration: none;
  color: white;
  background: linear-gradient(to right, white 5%, #093453 5%);
}

.active:hover {
  cursor: auto;
}