/* Blocks */
html {
  height: 100vh;
}

.app {
  height: 100vh;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas: 
  'n h'
  'n c'
  'n f';
}

.header {
  grid-area: h;
  margin: 10px;
  border: 1px solid rgba(128, 128, 128, 0.132);
  border-radius: 5px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.navigation {
  grid-area: n;
  background-color: #03111B;
  color: white;
}

.content {
  grid-area: c;
  overflow-x: scroll;
}

.footer {
  grid-area: f;
}